body{
    padding: 0;
    margin: 0;
    background-image: url("../img/主页背景1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.pic{
    -webkit-user-select: none;
    margin-top: 7px;
    width: 50px;
    height: 25px;
}
.part1{
    opacity: 0.3;
    width: 30%;
    height: 350px;
    background-color: azure;
    position: absolute;
    left: 33%;
    top: 25%;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.part2{
    position: absolute;
    left: 35%;
    top: 27%;
    font-family: 微软雅黑;
    font-size: 16px;
}
.input1{
    width: 150%;
    opacity: 0.8;
    height: 30px;
    margin-bottom: 10px;
    border-style: none;
}
.input{
    width: 150%;
    opacity: 0.8;
    height: 30px;
    border-style: none;
}
.input2{
    width: 50%;
    opacity: 0.8;
    height: 15px;
    border-style: none;
    margin-top: 10px;
}
.button1{
    background-color: cornflowerblue;
    border :none;
    width: 50%;
    height: 30px;
    opacity: 0.8;
    font-family: 微软雅黑;
    border-radius: 5px;
    margin-top: 10px;
}
.button2{
    background-color: cornflowerblue;
    border :none;
    width: 75%;
    height: 30px;
    opacity: 0.8;
    font-family: 微软雅黑;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 50%;
}
.input3{
    width: 20%;
    opacity: 0.8;
    height: 15px;
    border-style: none;
}
