<!DOCTYPE html>
<html lang="en" xmln="http//www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/password.css}" rel="stylesheet" type="text/css" charset="utf-8">
    <script src="/js/password.js"></script>
</head>
<body>
<div class="part1"> </div>
<div class="part2">
<form th:action="@{/sendMail}">
    <div style="margin-bottom: 10px">邮箱验证</div>
    <input class="input" type="email" name="email" placeholder="请输入邮箱"><br>
    <img class="pic" src="http://localhost:8081/app/system/number.jpg">
    <input class="input3" type="text" name="answer" placeholder="答案">
    <span style="color: red;" th:text="${msg}"> </span><br>
    <button type="submit" class="button1">获取验证码</button><br><br>
</form>
<form role="form" id="form" th:action="@{/changePassword}">
    <input class="input1" type="password" name="password" placeholder="更改密码"><br>
    <input class="input" type="password" name="rePassword" placeholder="确认密码"><br>
    <input class="input2" type="text" name="verification" placeholder="请输入验证码"><br>
    <button type="submit" class="button2">确认</button>
</form>
</div>
</body>
</html>